.logo {
  border-radius: 50%;
  height: 8vh;
  width: 5vw;
  font-size: 20px;
}
.btn {
  position: relative;
  width: 7%;
  right: 4%;
  margin-top: 0%;
  color: black !important;
  background-color: white !important;
}
.btn:hover {
  background-color: green !important;
  color: white !important;
}
.backgound {
  background-color: #87d6f5;
}
.me-auto {
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  width: 34%;
  margin-left: 13%;
  max-height: 100px;
  justify-content: space-evenly;
}
.links {
  color: white !important;
}
.navbar {
  margin: 0 !important;
  padding: 0;
}
