.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  /* height: 100vh; */
  background-image: url("https://wallpapershome.com/images/pages/pic_h/25956.jpg");
  background-size: cover;
  background-position: center;
}

.login-section {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  width: 100% !important;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.loader {
  text-align: center;
  margin-top: 10px;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  text-decoration: none;
  color: blue;
}

input.is-invalid {
  border-color: red;
}
